Hi <%= @user.email %><br>
We are happy that you know about iHouseManagement. <br>
To use your account please do your Payment. We have excieting packages for you and your family.<br>
<br><br>
    <strong>Note: You can also use our Trial mode</strong><br>

Please visit for payment: <a href=<%=@link%>>View Packages</a>